<a href="https://colab.research.google.com/github/Alzemaity/Alzemaity/blob/main/creditcard2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('/content/creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Normal transaction
&&fraudulent transaction

In [6]:
norm_df = df[df["Class"] == 0]
fraud_df = df[df["Class"] == 1]

In [7]:
norm_df.shape

(284315, 31)

In [8]:
fraud_df.shape

(492, 31)

In [9]:
df.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [11]:
norm_sample = norm_df.sample(n=492)

In [12]:
df1 = pd.concat([norm_sample,fraud_df],axis=0)

In [13]:
df1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
263879,161155.0,2.035052,0.206725,-1.621545,0.787282,0.165425,-1.227915,0.171253,-0.353902,0.652147,...,-0.019519,0.325000,0.026352,0.009164,0.128599,0.632451,-0.032826,-0.027858,2.99,0
119788,75583.0,-0.679025,0.106895,0.681254,-2.728532,-0.898940,-0.326776,-0.609153,0.466221,-2.465394,...,-0.097756,-0.036028,-0.121573,-0.546321,-0.225612,-0.386087,0.131597,0.118842,10.00,0
208526,137156.0,1.945307,-0.235139,-1.596467,-0.054291,0.863379,0.795086,-0.150229,0.223374,0.420204,...,0.349378,1.249232,-0.005498,-1.594797,0.091815,0.010487,0.028664,-0.085035,1.00,0
81617,59015.0,-1.054879,1.238223,0.991262,-0.025569,-0.422780,-0.883144,0.282167,0.368022,-0.077471,...,-0.257153,-0.731751,0.090410,0.417539,-0.248683,0.017570,-0.074676,-0.152924,8.95,0
249797,154579.0,-2.494795,1.678199,-1.370801,-0.647210,-0.340734,0.626018,0.486027,1.224989,-0.139472,...,-0.079887,-0.060371,-0.313538,-1.035807,-0.120874,-0.014650,-0.230892,-0.199431,192.72,0

In [15]:
df1["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [16]:
df1.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93519.201220,0.038053,0.055437,-0.039835,-0.046610,-0.097745,-0.017423,0.033419,0.025836,0.048269,...,-0.002134,-0.018158,0.009416,-0.022636,0.001499,0.013038,0.050089,-0.006422,-0.010537,89.710142
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
X = df1.drop(columns="Class",axis=1)
y = df1["Class"]

In [25]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [28]:
model = RandomForestClassifier()

In [29]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [32]:
X_pred = model.predict(X_train)

In [33]:
accuracy_score(X_pred, y_train)

1.0

In [30]:
y_pred = model.predict(X_test)

In [31]:
accuracy_score(y_test, y_pred)

0.9289340101522843